@tailwind base;
@tailwind components;
@tailwind utilities;

/* Source: https://tiptap.dev/api/extensions/placeholder */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

#article ::selection {
  @apply bg-yellow-400;
}

.highlight {
  background-image: linear-gradient(rgba(251, 191, 36, var(--tw-bg-opacity)), rgba(251, 191, 36, var(--tw-bg-opacity)));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
}

@keyframes highlightAnimation {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
