@tailwind base;
@tailwind components;
@tailwind utilities;

/* Source: https://tiptap.dev/api/extensions/placeholder */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

#article ::selection, #article span[class^='highlight-'] {
  @apply bg-yellow-300 bg-opacity-50 mix-blend-multiply;
}

#article .highlight_count_2 {
  background: linear-gradient(theme('colors.yellow.300' / 50%), theme('colors.yellow.300' / 50%));
  @apply bg-blend-darken;
}

#article .highlight_count_3 {
  background: linear-gradient(theme('colors.yellow.300' / 50%), theme('colors.yellow.300' / 50%)),
    linear-gradient(theme('colors.yellow.300' / 50%), theme('colors.yellow.300' / 50%));
  @apply bg-blend-darken;
}

#article .highlight_count_4 {
  background: linear-gradient(theme('colors.yellow.300' / 50%), theme('colors.yellow.300' / 50%)),
              linear-gradient(theme('colors.yellow.300' / 50%), theme('colors.yellow.300' / 50%)),
              linear-gradient(theme('colors.yellow.300' / 50%), theme('colors.yellow.300' / 50%));
  @apply bg-blend-darken;
}

/* When hovering a highlight that has a overlapped area, we 
 * don't want that overlap area to look different.*/
#article .hover-highlight span[class^='highlight-'], #article span[class^='highlight-'] .hover-highlight {
  @apply bg-yellow-400 mix-blend-darken;
}

#article .hover-highlight {
  @apply bg-yellow-400 !important;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer components {
  .gray-table table {
    @apply w-full text-left;
  }
  .gray-table th {
    @apply bg-gray-500 text-white border-white px-4;
  }
  .gray-table tr:nth-child(odd) {
    @apply bg-gray-200;
  }
  .gray-table tr:nth-child(even) {
    @apply bg-gray-100;
  }
  .gray-table td {
    @apply border-gray-500 px-4;
  }
}

/* Using @layer doesn't work with lowlight. 
 * Not sure why, but guess is that lowlight adds the classes
 * dynamically, so Tailwind won't know they exist.
 * Source: https://tailwindcss.com/docs/content-configuration#working-with-third-party-libraries
 */

.hljs-comment,
.hljs-quote {
  @apply text-gray-500;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  @apply text-yellow-500;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  @apply text-blue-500;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  @apply text-green-500;
}

.hljs-title,
.hljs-section {
  @apply text-purple-500;
}

.hljs-keyword,
.hljs-selector-tag {
  @apply text-red-500;
}

.hljs-emphasis {
  @apply italic;
}

.hljs-strong {
  @apply font-bold;
}
